.navbar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

    li {
        float: left;
        
        a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
      }

      .title {
        float: right;
        color: white;
        margin: 15px;
        font-weight: bold;
      }
  }

  li a:hover {
    background-color: #111;
  }

  .info-continer {
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 50px;
  }

  .info > ul {
    background-color: white;
  }

  .info > ul > li {
    margin: 5px;
  }