<h1 mat-dialog-title>Gyakorlati adatok megadása</h1>
<div mat-dialog-content>
  <form [formGroup]="dataForm">
    <mat-form-field appearance="fill">
      <mat-label>Teljes név</mat-label>
      <input matInput formControlName="full_name" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Neptun kód</mat-label>
      <input matInput formControlName="neptun" />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Egyetem</mat-label>
        <input matInput formControlName="university" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Szak</mat-label>
      <input matInput formControlName="major" />
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClose()">Mégse</button>
  <button mat-flat-button color="primary" (click)="onSave()" [disabled]="form.invalid">Mentés</button>
</div>
