.dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px;
  
    mat-card {
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
  
    mat-progress-bar {
      margin-top: 8px;
    }

    .add-info-btn {
      margin-top: 20px;
      width: 10rem;
      padding: 1rem;
      background-color: rgb(240, 211, 45);
      border-radius: 15px;
      border: none;
      cursor: pointer;
    }

    .add-info-btn:hover {
      background-color: rgb(218, 200, 99);
    }
  }